{{> base_start}}
<h1>Logout</h1>
<div id='error'></div>
<script>
	fetch('/auth/logout', { method: 'POST' }).then(response => { 
        if (response.status === 201) {
            window.location.href = '/'; 
        } 
        response.text().then(r => document.querySelector('div#error').innerText = r); 
    });
</script>
{{> base_end}}